{% extends 'base.html' %} {% block content %}

<!-- header  -->
<header class="py-5" style="color: #0a0a0a">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1>Kakatiyo</h1>
				<p>Welcome to your expense tracker. Here are your expenses.</p>
			</div>
		</div>
	</div>
</header>

<p>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero magnam eius
	necessitatibus dignissimos pariatur accusamus modi sapiente sed. Ad unde quasi
	reiciendis earum perspiciatis? Eveniet fugiat eius voluptas repellat
	perferendis quidem placeat nulla quas aspernatur ipsa non iusto impedit nobis
	laudantium, tempora saepe ex ab vero unde beatae blanditiis similique
	doloribus possimus! Molestiae similique illo dolores quam quae, pariatur
	repudiandae impedit? Eius quisquam blanditiis perspiciatis possimus placeat
	impedit dignissimos maiores nisi quia quod odit iusto voluptatum accusamus
	voluptate ipsa inventore excepturi, tenetur et voluptatem temporibus soluta,
	reiciendis nemo? Ducimus voluptatibus iure quas porro rem, nulla enim
	consequuntur quae similique illo nisi provident odio, earum non doloremque
	maiores sint laborum nesciunt, voluptas itaque voluptate molestiae amet
	aspernatur vitae! Esse sunt ea, et perspiciatis atque cupiditate rem provident
	obcaecati quas velit aut placeat possimus molestiae nulla nisi consequatur
	nostrum tenetur expedita adipisci impedit. Porro consequuntur, magnam
	accusamus ullam nemo est molestiae quo placeat dicta excepturi odio dolore
	adipisci eos, officiis mollitia. Sequi amet quod corporis repudiandae ut
	laborum, voluptatum nihil quo sit? Suscipit in repellat illo numquam dolor
	voluptatem odio consequatur pariatur. Laborum, vitae dolorem. Magnam nisi
	quisquam similique quidem optio alias, id minima provident dolore ipsa hic
	quos harum, qui veritatis vero architecto? Dolor sequi qui autem ex ea
	suscipit a, amet sunt voluptatum architecto alias! Est officiis eius eaque aut
	ut nam, expedita iure fuga aspernatur, sapiente nesciunt sit nihil ex sequi,
	voluptas corrupti tempora deleniti voluptates doloremque accusantium ducimus
	porro! Provident ipsa eveniet facilis nisi quia ipsum doloribus ut numquam,
	quas vitae non nostrum et optio ipsam eum, molestiae at debitis omnis tenetur!
	Cupiditate similique natus sequi odit quos nihil dolorum labore id officiis
	dolor aspernatur recusandae tempore quia quod fugit libero magnam quis minus,
	nobis architecto enim assumenda provident mollitia aut? Fuga sit inventore
	magnam perferendis ipsa reiciendis odit, cupiditate illum. Facilis iusto
	tempora optio perspiciatis asperiores nesciunt beatae molestias doloremque
	illum eum, sunt eligendi, assumenda et laboriosam, consequuntur quia. Nobis
	iste quam maxime ea assumenda eius temporibus, odio voluptates ullam optio
	laboriosam voluptatibus numquam repellendus. Perferendis distinctio,
	accusamus, accusantium nobis ratione ullam nisi quae repellat eaque non, quo
	dolorem. Consequatur tempore debitis aspernatur. Qui quasi libero laudantium
	atque ipsum, rem hic facilis veniam voluptates tempore blanditiis quis ducimus
	harum sapiente sequi modi quas reprehenderit officiis impedit quisquam
	molestiae earum asperiores. Incidunt consequuntur nobis delectus et animi
	dolorum perspiciatis. Minus ipsum nostrum saepe porro nihil mollitia,
	laudantium ratione autem eum unde tenetur ab quasi aperiam ut praesentium,
	nulla deleniti dolorum! Nobis officia tenetur cumque quod quae saepe
	asperiores nihil, a soluta. Ipsa rerum perferendis repellat voluptatem iusto
	necessitatibus animi obcaecati molestiae sapiente minus facere aspernatur
	cupiditate officiis alias, autem nostrum ullam eveniet quas. Sint voluptate ex
	iure obcaecati reprehenderit vitae laudantium, id nihil iusto deserunt, facere
	dolorem molestias at placeat totam consequatur cupiditate incidunt nemo
	repudiandae minima asperiores doloremque ea blanditiis nesciunt! Inventore
	molestias fugiat ea harum odit labore enim, dolores nisi hic ut, deserunt
	necessitatibus pariatur culpa dolorem, reiciendis excepturi reprehenderit
	veritatis repellat porro provident totam non?
</p>
{% endblock content %}
