/* styles.css in the expense_tracker/static/expense_tracker/ directory */

/* Style the header */
h2 {
	text-align: center;
	background-color: #3498db;
	color: #fff;
	padding: 10px;
}

/* Style the list */
ul {
	list-style-type: none;
	padding: 0;
}

li {
	padding: 5px 0;
	border-bottom: 1px solid #ccc;
}

/* Add hover effect to list items */
li:hover {
	background-color: #f2f2f2;
}

/* Add styles for form elements */
form {
	max-width: 400px;
	margin: 0 auto;
}

input[type="text"],
input[type="date"],
input[type="number"],
select {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

/* Style buttons */
button {
	background-color: #3498db;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #2980b9;
}

/* Add styles for the "Back" button */
.btn-secondary {
	background-color: #555;
}

.btn-secondary:hover {
	background-color: #444;
}

/* Style the "Delete" button */
.btn-danger {
	background-color: #e74c3c;
	color: #fff;
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.btn-danger:hover {
	background-color: #c0392b;
}
