<!-- We are using same form for edit and add expense  -->
{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %}

<header class="py-4" style="color: #151515">
	<div class="container border-bottom pb-2">
		<div class="row">
			<h3>
				{% if form.instance.id %}Edit Expense{% else %}Add Expense{% endif %}
			</h3>
		</div>
	</div>
</header>
<form method="post">
	{% csrf_token %} {{ form.as_p}}
	<button type="submit" class="btn btn-primary">
		{% if form.instance.id %}Save Changes{% else %}Add Expense{% endif %}
	</button>
</form>

{% endblock %}
