{% extends 'base.html' %} {% block content %}

<header class="py-4" style="color: #151515">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h3>Welcome to your expense tracker. Here are your expenses.</h3>
				<h5>You have a total of {{ page_obj.paginator.count }} expenses</h5>
			</div>
			<div class="col-md-4 text-right">
				<a
					class="btn btn-primary btn-dark btn-sm"
					href="{% url 'add_expense' %}"
					>Add Expense</a
				>
			</div>
		</div>
	</div>
</header>

<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col">Description</th>
			<th scope="col">Amount</th>
			<th scope="col">Category</th>
			<th scope="col">Date</th>
		</tr>
	</thead>
	{% for expense in expenses %}

	<tbody>
		<tr>
			<td scope="row">
				<a
					href="{% url 'expense_detail' expense.id %}"
					class="text-decoration-none"
				>
					{{ expense.description|truncatewords:5 }}</a
				>
			</td>
			<td>KES {{ expense.amount }}</td>
			<td>{{ expense.category }}</td>
			<td>{{ expense.date|date:"M d, Y" }}</td>
		</tr>
	</tbody>
	{% endfor %}
</table>
{% endblock content %}
